/*
Theme Name:         A5TRATTO Theme Child
Theme URI:          https://www.astratto.agency
Description:        Another Wordpress Starter Child Theme 
Template:           a5tratto-theme
Version:            V.7.4.0.3
Author:             Giuseppe Checchia - Giorgio Rizza
License:            MIT License
License URI:        http://opensource.org/licenses/MIT
*/
