{# Section CTA Border Rounded #}
<div style="height: 50px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0,150 C150,0 350,0 500,150 L500,150 L0,150 Z" style="stroke: none; fill: var(--a5t-primary);"></path>
    </svg>
</div>
<section class="section-cta-border-rounded" style="background: var(--a5t-primary)">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h3>lorem</h3>
                <h1>Lorem Ipsmun</h1>
            </div>
            <div class="col-12 col-md-8 offset-md-2 text-center pt-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deleniti doloribus ea et eum
                    facilis fugit hic ipsum mollitia nam nihil numquam obcaecati porro, provident quibusdam quisquam
                    repudiandae unde ut? Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                <a href="#" class="btn btn-primary"> BUTTON </a>
            </div>
        </div>
    </div>
</section>
<div style="height: 50px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0,0 C150,150 350,150 500,0 L500,0 L0,0 Z" style="stroke: none; fill: var(--a5t-primary);"></path>
    </svg>
</div>
<style>
    .section-cta-border-rounded:before {
        content: 'section-cta-border-rounded';
        padding: 0.5rem 1rem;
        background: var(--secondary);
    }
</style>
{# end Section CTA Border Rounded #}